body {
    margin: 0;
}

h1, p {
    margin: 0;
    padding: 0;
}

.container {
    background: dodgerblue;
}

.item {
    padding: 5%;
}

.item-a {
    background-color : yellow;
}

.item-b{
    background-color : yellowgreen;
}

/*미디어query 사용
  css의 창의 크기가 700 이상일 때 적용!*/
@media screen and (min-width: 700px) {
    .container {
        font-size: 0;
    }
    .item {
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
    }
    
    .item-a {
        width: 30%;
    }
    
    .item-b {
        width: 50%;
    }
}