.stage {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 60vw;
    background: yellow;
}

@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(90vw);
    }
}
.ilbuni {
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    
    animation: moving infinite;
    animation-direction: alternate;
    /* contain : 이미지를 안에 넣되, 잘리는 부분 없이 늘리기
       cover : 이미지를 안에 넣되, 빈 공간이 없이 늘리기*/
}
.ilbuni:nth-of-type(1) {
    left: 5%;
    bottom: 5%;
    background-image: url('../images/ilbuni_0.png');
    animation-duration: 2s;
}
.ilbuni:nth-of-type(2) {
    left: 10%;
    bottom: 3%;
    background-image: url('../images/ilbuni_1.png');
    animation-duration: 4s;
}
.ilbuni:nth-of-type(3) {
    left: 7%;
    bottom: 10%;
    background-image: url('../images/ilbuni_2.png');
    animation-duration: 3s;
}3