html {
    font-family:'Apple SD Gothic','맑은고딕',sans-serif;
    background: #DDD;
}

#search_blank {
    border-radius: 10%;
}
#search_btn {
    border-radius: 10px;
    background: gold;
    border: 0;
}

/*menu*/
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 3rem;
    background: gold;
    transition: 0.4s;
}
.menu-item:hover {
    width: 35%;
    background: crimson;
}

/*primary*/
.card-list {
    background-color: #BBB;
}
.card-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}

.card-description {
    background: white;
    flex-grow: 1;
    padding: 1rem;
}

.card-image {
    padding-bottom: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: gray;
}

@media (min-width: 600px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }
    .card-item {
        width: 50%;
        padding: 0 1rem;
    }
}

@media (min-width: 900px) {
    .card-item {
        width: 33%;
    }
    .message-list {
        padding: 1rem;
        padding-right: 2rem;
    }
}

/*message-list*/
.message-list {
    width: 100%;
}
.message-item {
    display: flex;
    margin: 1rem 0;
}
.message-item:before {
    content: '★';
    margin-right: 2px;
}

/*user-list*/
.user-list {
    padding: 5px;
}
.user-item {
    display: flex;
    margin: 1em 0;
    
}
/*아래의 속성들은 이미지를 이쁘게 보이기 위해 설정한 값들이니 크게 신경쓰지 않아도 된다
  중요한 것은 user-item에 flex 구조를 적용한 것과, photo의 flex-shrink가 0으로 설정되었다는 것이다.*/
.user-photo {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    margin: 0 0.5em;
    border-radius: 50%;
    background-color: gold;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150%;
}